<div id="heading_row" class="row animated fadeIn">
    <%= render "heading_row", title: "Overview" %>
  </div>

  <% if !@metrics.blank? %>

  <div class="row" id="chart_tile">
    <%= render "chart_tile" %>
  </div>

  <div class="row" id="metric_tiles">
    <%= render "metric_tiles" %>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default animated fadeIn">
        <div class="panel-body">
          <%= pie_chart Metric.where(metric_date: 12.months.ago..@date).group(:app_title).sum(:revenue) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Product (Last 12 Months)</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default animated fadeIn">
        <div class="panel-body">
          <%= column_chart Metric.where(metric_date: 12.months.ago..@date).group(:charge_type).sum(:revenue) %>
        </div>
        <div class="panel-footer text-center">
          <h5>Revenue per Charge Type (Last 12 Months)</h5>
        </div>
      </div>
    </div>
  </div>

  <% else %>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default animated fadeIn">
          <div class="panel-body">
            <div class="col-sm-12 text-center">
              <h2><span style="font-size: 120px;margin-right: 25px;" class="glyphicon glyphicon-stats" aria-hidden="true"></span></h2>
              <h2>Welcome to Partner Metrics for Shopify!</h2>
              <h5>Click the "Import Data" button to get started.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
