<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Partner Metrics" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Partner Metrics" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main id="main" role="main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content text-center">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Import Data</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">
                    <p>Select your "PaymentHistory" CSV file exported from your Shopify Partner Dashboard</h>
                      <%= form_tag(import_path, remote: true, multipart: true, id: "import_form", class: "top-buffer") do %>
                      <span class="btn btn-primary btn-file">
                        Select File<%= file_field_tag "file", onchange: "$('#import_form').submit();" %>
                      </span>
                    </div>
                  </div>
                  <div class="row top-buffer">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                      <div id="import_progress" style="display: none;" class="animated fadeIn">
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span>Importing..</span>
                          </div>
                        </div>
                        <p>This might be a good time to make that cup of coffee</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>

      </main>
      </div>
      <footer class="footer text-center animated fadeInUpBig"
        <div class="row">
          <div class="col-xs-12">
            Unofficial Metrics Dashboard for <a href="http://www.shopify.com/partners" target="_blank">Shopify Partners</a>. Originally created by <a href="http://www.forsbergplustwo.com" target="_blank">FORSBERG+two</a>.<br/>Please submit any feedback or issues on <a href="https://github.com/forsbergplustwo/partner-metrics-for-shopify/issues" target="blank">GitHub</a>
          </div>
        </div
      </footer>


    <script>
    var ready;
    ready = function() {
      $("#import_form")
      .bind("ajax:beforeSend",  toggleLoading)
      //.bind("ajax:complete", toggleLoading)
      .bind("ajax:success", function(xhr, data, status) {
        //$(".response").html('Saved!').show().fadeOut(4000);
        //document.location.reload(true);
        window.location.replace("<%= url_for(action: action_name, period: @period, chart: @chart_tile["type"]) %>");
      });
    };

    var toggleLoading;
    toggleLoading = function() {
      $("#import_progress").show();
    };

    $(document).ready(ready);
    $(document).on('page:load', ready);
    </script>

  </body>
  </html>
